@import url("fonts.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16pt;
}
body {
    font-size: 16pt;
}
main {
    width: fit-content;
    margin: auto;
}
header {
    width: fit-content;
    margin: auto;
}
p {
    font-size: 16pt;
    font-family: var(--font-body);
}

h1 {
    font-family: var(--font-body);
    font-weight: 700;
    font-size: 4rem;
}
